<li>
 
   <% if user_signed_in? %>
		
		  
		  
		  <%= link_to "#{loyalty.shop.name} (#{loyalty.points})", shop_path(loyalty.shop), "data-icon" => "gear" %>

  <% else if owner_signed_in? %>
		<p>
		  <b>User</b>
		</p>
	<%end%>
 <%end%>
</li>
